.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 290px;
  background-color: #181719;
  border: 1.2px solid #2e2e2e;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 0px rgb(39 39 39);
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  height: -webkit-fill-available;
    text-decoration: none;
}
.movieCard:hover{
  filter: brightness(0.7);
  scale: 1.02;
}

.imageContainer {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
}
.content{
  padding: 15px;
    color: white;

}

.background_image {
  border-radius: 10px;
  aspect-ratio: 16/9;
  background-color: #2e2e2e;
  transition: 0.3s;
  width: 100%;
}
.rating {
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 600;
}
@media (max-width: 784px){
  .movieCard{
    width: 100%;
    padding: 30px;
  }
}