.image{
    filter: invert(1)
}
.inputHolder{
    background-color: #181719;
    border: 1.2px solid #2e2e2e;
    box-shadow: 0px 0px 9px 0px rgb(39 39 39);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
#input{
    background: transparent;
    color: white;
    height: 30px;
    width: 100%;
    border: none !important;
    outline: none !important;
    font-size: 20px;
}