html {
  background-color: black;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}
.container{
  display: flex;
}
.contentContainer{
  padding: 0 25px;
  padding-left: 275px;
}
@media (max-width: 1200px) {

}
@media (max-width: 784px) {

}